# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# VSCode / IDE
.vscode/
.idea/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db
